<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mantenedor</title>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            />
    </head>
    <body>

        <nav> <a href="/">Home</a> </nav>


        
        <table>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <form action="/mantenedor" method="POST">
                    <td></td>
                    <td><input type="text" name="nombre" placeholder="Nombre"></td>
                    <td><input type="text" name="apellido" placeholder="Apellido"></td>
                    <td><button><span class="material-symbols-outlined">
                            add
                        </span></button>
                    </td>
                </form>
            </tr>
            
            {{#each personas}}
            <tr>
                <td>{{id}}</td>
                <td>{{nombre}} </td>
                <td> {{apellido}}</td>
                <td><span class="material-symbols-outlined">
                        edit
                    </span></td>
                <td>
                    <a href="/mantenedor/{{id}}?_method=delete"><span class="material-symbols-outlined">
                        delete
                    </span></a>
                </td>
            </tr>

            {{/each}}
        </table>
    </body>
</html>